# Konto Gmail używane wyłącznie do wysyłki formularza (SMTP, hasło aplikacji)
GMAIL_USER=strona.gosk@gmail.com
GMAIL_APP_PASSWORD=xxxxxxxxxxxxxxxx

# Adres, na który trafiają zapytania z formularza
CONTACT_TO=aleksandragosk.arch@gmail.com
